<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="icon" href="/img/titlebaricon.png" type="image/icon type">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home</title>
</head>

<body>
  {{>header}}
  {{ error }}
  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="title-box">
            <h2>{{ title }}</h2>
            <span class="yellow-line"></span>
          </div>
          <div class="row justify-content-center pt-5 mb-5 position-relative">
            <div class="col-12">
              <form class="form">
                <input placeholder="search">
                <i class="fas fa-search"></i>
                <button>submit</button>
              </form>
              <div class="position-absolute search-result-container" id="search_result">

              </div>
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-12 alert alert-danger temp-error" role="alert">
            </div>
          </div>
          <div class="row justify-content-between rounded pt-4 px-4 my-3 mx-0 weather-desc text-secondary  current-day">
            <div class="row pb-0">
              <div class="col-12 pr-0">
                <span class="city pr-2" id="city__name"></span>
                <span class="country" id="country__name"></span>
              </div>
              <div class="col-12 weather-summary">
                <p class="date--day d-inline-block" id="day_name"></p>
                <p class="d-inline" id="time_clock"> <span id="time_PM_AM"></span></p>
                <p class="summary"></p>
              </div>
            </div>
            <div class="row mx-0" style="height: 80px;">
              <div class="col-6 row align-items-center temp--box">
                {{!-- <div class=""> --}}
                <img class="px-2" src="/img/loadingimg/default-placeholder.png" id="weather_icon_img"
                  alt="default-placeholder">

                <p class="temp pl-2"></p><sup class="mb-3 lead text-dark"></sup>

                {{!-- </div> --}}
              </div>
              <div class="col-6">
                <div class="mb-1"> <span id="precip_probability"></span></div>
                <div class="mb-1"> <span id="humidity"></span></div>
                <div class="mb-1"> <span id="wind_speed"></span></div>
              </div>
            </div>
            <div class="row py-3 sub-weather-desc-box justify-content-between" id="daily_temp_container">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <form><input type="text" name="test" id="test_input" value=""></form>
  {{>footer}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/all.js"></script>
  <script src="js/main.js"></script>
</body>

</html>