body {
    margin: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.container {
    width: 940px;
}
header {
    width: 100%;
    background-color: transparent;
}

.navbar-nav {
    padding-right: 25px;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(20, 20, 20, 0.75);
    font-weight: bold;
    border-bottom: 2px solid rgba(34, 33, 33, 0.0);
    padding: 0.5rem 0.0rem 0.1rem 0.0rem;
    margin: 0.0rem 0.5rem 0.0rem 0.5rem;
    transition: 0.4s;
}

.nav-link {
    display: inline-block;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(34, 33, 33, 0.897);
    border-bottom: 2px solid rgba(34, 33, 33, 0.897);
    padding: 0.5rem 0.0rem 0.1rem 0.0rem;
    margin: 0.0rem 0.5rem 0.0rem 0.5rem;
    transition: 0.4s;
}
.show .nav-link:hover {
    margin-left: 15px !important;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand img{
    width: 75px;
}
/* .container h1 {
    border-top: 15px solid #960eD6;
    border-bottom: 25px solid #66AeD6;
    border-radius: 10px;
    color: #66AeD6;
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
    font-size: 4rem;
    background-color: #950655;
} */

footer {
    padding: 16px 0;
    width: 100%;
    background-color: #f9ed69;
}

footer .container {
    box-sizing: border-box;
    max-width: 950px;
    margin: 0 auto;
}

footer h3 {
    font-size: 0.85rem;
    color: #6a2c70;
}

footer h4 {
    font-size: 0.67rem;
    color: #6a2c70;
}

.err-page {
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.err-page .url-err {
    color: red;
}

.main {
    padding: 30px 0 50px 0;
}

.main .title-box h2 {
    margin: 0;
    padding-top: 30px;
    color: #777777;
    font-weight: bold
}

.form{
    position: relative;
    right: 10%;
}
.form input{
    width: 60%;
    height: 45px;
    padding: 5px 0 8px 35px;
    box-shadow: 0px 0px 20px -3px rgba(80, 80, 80, 1);
    font-size: 1rem;
    color: #555;
    border: 0.5px solid #a5a5a5;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: 0.3s;
}
.form input:focus {
    outline: none !important;
    box-shadow: 0px 0px 33px -3px rgba(170, 20, 163, 1);
    transition: 0.3s;
}
.form input::placeholder{
    transition: 0.3s;
}
.form input:focus::placeholder{
    letter-spacing: 1.5px;
    color: #8b147a;
    transition: 0.3s;
    font-size: 16px;
}

.form button{
    position: absolute;
    right: 1px;
    width: 20%;
    height: 45px;
    font-size: 1rem;
    border: 0.5px solid #999;
    background-image: linear-gradient(rgba(170, 20, 163, 0.8), rgb(219, 44, 117));
    box-shadow: 4px 0px 33px -3px rgba(170, 20, 163, 1);
    color: #ffffff;
    font-weight: bold;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 0.3s;
}
.form button:hover {
    background-image: linear-gradient(rgba(170, 20, 103, 0.8), rgba(219, 44, 138, 0.95));
    transition: 0.3s;
}
.form button:focus {
    outline: none !important;
}
.form .fa-search{
    position: absolute;
    left: 193px;
    top: 15px;
    color: #999;
    transition: 0.3s;
}
.form input:focus + .fa-search{
    color: #8b147a;
    filter: blur(0.2px);
    transition: 0.3s;
}
.yellow-line {
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #777777
}
.search-icon{
    position: absolute;
    left: 30px;
}
.right-part{
    padding-top: 15px;
    border-top-right-radius: 50px;
    background-image: linear-gradient(90deg,rgba(189, 21, 99, 0.842), rgba(88, 25, 170, 0.678));
    box-shadow: 4px 0px 33px -3px rgba(170, 20, 163, 1);
    border-left: 50px solid #8b147a
}
.weather-desc{
    padding: 20px 35px;
}
.right-part p {
    padding: 10px 10px;
    color: #ffffff;
}
.left-part{
    border-bottom-left-radius: 50px;
    /* background-color: #8b14799a; */
    border: 5px solid #8b147a;
    border-right: none;
    box-shadow: 4px 0px 33px -3px rgba(170, 20, 163, 1), inset 4px 0px 15px -3px rgb(71, 25, 69);
}
.right-part img{
    width: 10px;
}
.left-part img{
    padding-top: 15px;
    display: inline-block;
    margin: 0 auto;
    width: 100px;
}
.clear {
    clear: both;
}