{{!-- <header class="header">
    <div class="container">
        <div class="logo">
            <img src="" alt="logo image">
        </div>
        <nav>
            <ul class="">
                <li><a class="links" href="/">Home</a></li>
                <li><a class="links" href="/about">About</a></li>
                <li><a class="links" href="Help">Help</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header> --}}
<header class="">
    <div class="container">
        <nav class="col-12 navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="##"><img src="img/logo.png">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Weather</a></li>
                    <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>